    /*Обнуление*/
    
    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
     :focus,
     :active {
        outline: none;
    }
    
    a:focus,
    a:active {
        outline: none;
    }
    
    nav,
    footer,
    header,
    aside {
        display: block;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 1;
        font-size: 16px;
        background-color: #0b1d26;
        color: white;
        font-family: 'PT Sans';
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    input,
    button,
    textarea {
        font-family: inherit;
    }
    
    input::-ms-clear {
        display: none;
    }
    
    button {
        cursor: pointer;
    }
    
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    
    a,
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    ul li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }
    
    body {
        /* background: #e42222; */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    h1,
    .result {
        font-size: 40px;
        font-weight: 700;
        /* letter-spacing: 4px; */
        color: #fff;
        text-shadow: 3px 3px 3px rgba(65, 11, 11, 0.5);
        text-align: center;
        line-height: 1.5em;
        margin: 10px 20px;
    }
    
    .result {
        /* min-height: 20vh; */
        height: 300px;
        overflow: hidden;
        /* min-height: 100%; */
        /* width: 600px; */
        /* max-width: 100%; */
        margin: 0;
        padding: 0;
        background: rgba(65, 11, 11, 0.5);
    }
    
    .wrapper {
        /* background: url('/images/Morrison_big.jpg') center center / cover no-repeat; */
        /* background-color: rgba(10, 10, 10, 0.8); */
        /* margin: 40px 10px; */
        /* height: 100%; */
        /* padding: 0px 0; */
        min-height: 100vh;
        /* overflow: hidden; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .content,
    .content1 {
        width: 1100px;
        max-width: 100%;
        /* height: 500vh; */
        height: 100vh;
        margin: 0px auto;
        /* padding: 25px; */
        background-color: cadetblue;
        /* margin: 0 auto; */
        text-align: center;
    }
    /* // стики меню */
    
    .sticky_menu {
        /* display: flex; */
        line-height: 2rem;
        background-color: rgba(65, 11, 11, 0.5);
        position: sticky;
        top: 0px;
        left: 0;
        /* padding: 10px; */
    }
    
    .ul_menu {
        display: flex;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* flex-wrap: wrap; */
        list-style-type: none;
    }
    
    .li_menu {
        margin: 10px;
    }
    
    .__li1 {}
    
    .__li2 {}
    
    .__li3 {}
    
    .__li4 {}
    
    .__li5 {
        margin-left: auto;
    }
    
    .content__link {
        display: inline-block;
        background-color: rgb(250, 237, 237);
        line-height: 100px;
        width: 100px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 0 10px;
        font-weight: bold;
        border-radius: 50%;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        /* , inset 0px 5px 5px rgba(0, 0, 0, 0.3); */
        transition: all 0.2s ease;
        overflow: hidden;
        color: #fff;
    }
    
    .content__link a:active,
    a:visited {
        color: rgb(0, 0, 0);
    }
    
    .content__link:hover {
        background-color: whitesmoke;
        color: #000;
        /* padding: 0px 60px; */
    }
    
    .content__link:active {
        position: relative;
        top: 3px;
        /* -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5); */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
    
    .content__area {
        padding: 50px 50px;
        background-color: #78879b;
    }
    /* меню */
    
    .menu {
        position: sticky;
        top: 50px;
    }
    
    .menu__row {}
    
    .menu__items {
        display: flex;
        /* flex-direction: row-reverse; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        background-color: darkgray;
        background: repeating-linear-gradient(45deg, orange, orange 12px, white 12px, white 24px);
    }
    
    .menu__item {
        margin: 15px;
    }
    
    .__item1 {
        /* Первое пункт меню в левый край, остальные справа  */
        /* margin-right: auto; */
    }
    
    .content__link {}
    
    .__link1 {
        background-color: #e42222;
    }
    
    .__link2 {
        background-color: green
    }
    
    .__link3 {
        background-color: rgb(28, 8, 117);
    }
    
    .__link4 {
        background-color: #000;
        /* background: -webkit-radial-gradient(0px 0px, circle, blueviolet, #000); */
        /* background: radial-gradient(0px 0px, circle, blueviolet, #000);
        background: -webkit-linear-gradient(top, #ffff00 0%, #00ff00 100%); */
        background: radial-gradient(circle at 50% 50%, #c4c425, #333 25%, #eee 35%, #333 65%);
        /* transition: all ease 10.5s; */
    }
    
    .__link4:hover {
        /* transition: all ease 10.5s; */
        /* background: -webkit-radial-gradient(0px 20px, circle, blueviolet, #000); */
        /* background: salmon; */
        background: radial-gradient(circle at 50% 50%, #ffff00, #333 25%, #eee 35%, #333 65%);
        /* width: 150px; */
        /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); */
        /* scale: 50%; */
    }
    /* // флекс список заданий */
    
    .li__area {
        display: flex;
        flex-direction: row;
        /* align-items: flex-end; */
        background-color: darkgray;
        font-family: 'PT Sans';
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        margin: 20px;
        min-height: 300px;
    }
    
    .li__body {
        display: flex;
        flex-direction: column;
    }
    
    .li__title {
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    }
    
    .li__list li {
        line-height: 22px;
        font-size: 20px;
        background: url('../images/icons/icon.png') 0 1px no-repeat;
        margin: 0 0 10px 0;
        padding: 0 0 0 36px;
        text-align: left;
    }
    
    .li__list li:last-child {
        /* margin: 0; */
    }
    
    .li__result {
        /* flex: 0 0 60%; */
        /* background: url('/images/тжоник.jpg') top / cover no-repeat; */
        background: url('/images/тжоник.jpg') top right / contain no-repeat;
        /* background-size: 200px; */
        width: 100%;
        margin-right: auto;
        /* height: 100%; */
        text-align: right;
    }
    
    .through {
        text-decoration: line-through;
    }
    /* // игра */
    
    .game__area {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background: url('/images/Morrison_big.png') center center / cover no-repeat;
    }
    
    .game__area__top {
        line-height: 2rem;
        background-color: rgba(65, 11, 11, 0.5);
        background-attachment: fixed;
    }
    
    .game__area__status {}
    
    .status_ul {
        display: flex;
    }
    
    .status_li {
        margin: 0 1em;
    }
    
    .status_li_1 {}
    
    .status_li_2 {}
    
    .status_li_3 {}
    
    .status_li_4 {
        margin-left: auto;
    }
    
    .game__area__content {
        width: 100%;
        min-height: 250px;
        position: relative;
    }
    
    .game__area__controls {
        /* background: url('/images/майк.jpg') top center / cover no-repeat; */
        background-color: darkgray;
        width: 100px;
        height: 20px;
        /* align-self: center; */
        /* margin: 10px 0; */
        /* padding: auto 0; */
        border: 1px solid whitesmoke;
        border-radius: 10px;
        box-shadow: inset 0px -3px 8px rgba(0, 0, 0, 0.8);
        position: absolute;
        bottom: 0%;
        left: 0px;
        /* display: none; */
    }
    
    .__hidden {
        display: none;
    }
    
    .game__area__footer {
        background-color: rgba(65, 11, 11, 0.5);
        text-align: left;
        padding-left: 1em;
    }
    
    .game__area__ball {
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        /* top: -50%; */
        display: block;
        background: black;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 0;
        background: -webkit-radial-gradient(50px 30px, circle, #5cabff, #000);
        transition: all 0.5s ease;
    }
    
    .change_ball_shadow {
        background: -webkit-radial-gradient(50px 50px, circle, #5cabff, #000);
    }
    /* //canvas game */
    
    .canvas_game {
        width: 100%;
    }
    /* просто целая страница */
    
    .fullpage {
        width: 100%;
        min-height: 100vh;
        background-color: black;
    }
    
    .fullpage__content {
        background-color: darkgray;
        width: 500px;
        max-width: 100%;
        min-height: 100;
        margin: 0 auto;
        text-align: center;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }